{# templates/emails/registration.html.twig #}
<pre>
Bonjour {{ name }},

La vulnérabilité <b>{{ vd.vulnerability.description }}</b> sur la machine <b>{{ vd.asset.ip }}</b> vous a été affectée.

Veuillez suivre ce lien pour plus de détails: <a href="link">Link to VD</a>

Si vous avez des questions, veuillez envoyer un courriel à <i>{{contact}}</i>
</pre>
