<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
		{% block title %}
		{% endblock %}</title>
        	
		{% block stylesheets %}
			<link rel="stylesheet" href="http://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        {% endblock %}
    </head>
    <body>
	{% block vuln_body %}
	{% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
            <script src="http://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
            <script src="http://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
            <script src="{{ asset('js/table.js') }}"></script>
        {% endblock %}
    </body>
</html>
