{# ressources/Menu/index.html.twig #}

{% extends "base.html.twig" %}

{% block title %}
    Menu
{% endblock %}

{% block vuln_body %}

<style type="text/css">
  .title {font-family:sans-serif;font-size:26px;font-weight:bold;padding-bottom:10px;}
</style>

<h1 class="title">
  Menu
</h1>

<table id="listMenu" width="25%">
    <thead>
    <tr>
        <th><a href="{{ path('homePage') }}">Monthly report</a></th>{# Changer la référence#}
        <th><a href="{{ path('detectionPage') }}">Detections</a></th>
    </tr>
    </thead>
</table>

{% endblock %}
