{# ressources/Report/index.html.twig #}

{% extends "base.html.twig" %}

{% block title %}
    Report
{% endblock %}

{% block vuln_body %}

<style type="text/css">
  .title {font-family:sans-serif;font-size:26px;font-weight:bold;padding-bottom:10px;}
</style>

<h1 class="title">
  Report for this month only
</h1>

{% set highs = 0 %}
{% set crits = 0 %}
{% for host in detections %}
  {% if host.critical > 0 %}
    {% set crits += 1 %}
  {% endif %}
  {% if host.medium > 0 %}
    {% set highs += 1 %}
  {% endif %}
{% endfor %}
{# Détails du rapport ici#}
<ul>
  <li> Hosts with high vulnerability: {{highs}} </li>
  <li> Hosts with critical vulnerability: {{crits}} </li>
</ul>

{% endblock %}
