{# ressources/Report/index.html.twig #}

{% extends "base.html.twig" %}

{% block title %}
    Report
{% endblock %}

{% block vuln_body %}

<style type="text/css">
  .title {font-family:sans-serif;font-size:26px;font-weight:bold;padding-bottom:10px;}
</style>

<h1 class="title">
  Report for this month
</h1>

{% set highs = 0 %}
{% set crits = 0 %}
{# Hosts with critical vulnerability #}
{% for host in hosts_critical %}
    {% set crits = crits + 1 %}
{% endfor %}
{# Hosts with high vulnerability #}
{% for host in hosts_high %}
    {% set highs = highs + 1 %}
{% endfor %}

{# Détails du rapport ici#}
<ul>
  <li> Hosts with high vulnerability: {{highs}} </li>
  <li> Hosts with critical vulnerability: {{crits}} </li>
</ul>

{% endblock %}
